In [78]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

In [79]:
dfa = pd.read_csv("Col0-tot3_Tot3_rep_A.csv")
dfb = pd.read_csv("Col0-tot3_Tot3_rep_B.csv")
dfc = pd.read_csv("Col0-tot3_Tot3_rep_C.csv")
dfd = pd.read_csv("Col0-tot3_Tot3_rep_D.csv")

In [80]:
dfa

,Unnamed: 0,AT1G04530.1_T36_1,AT1G08680.5_S196_1,AT1G08820.5_S130_2,AT1G10940.1_S357_1,AT1G11310.3_S503_1,AT1G11480.2_S343_1,AT1G12830.1_S46_1,AT1G13020.1_S436_1,AT1G13980.2_S961_1,...,AT5G54900.1_S332_1,AT5G56030.1_S288_1,AT5G56340.1_S150_2,AT5G56340.1_S151_2,AT5G56980.1_S120_1,AT5G57870.1_S487_1,AT5G58140.4_S30_1,AT5G64740.1_S136_1,AT5G67200.1_S371_1,ATCG00490.1_S208_1
0,1,23.796149,23.785098,24.424638,20.567578,23.166601,24.024322,24.658214,19.958942,21.966366,...,25.760815,26.037487,20.735937,20.735937,21.570140,21.199272,23.170878,23.530066,22.604696,21.952189
1,2,24.329126,23.454408,24.325127,20.354163,22.402612,24.495512,24.946124,0.000000,23.062139,...,25.678085,25.353452,21.628469,21.628469,22.606615,21.059629,23.790021,23.762922,23.505368,0.000000
2,3,24.331719,23.131753,24.119546,20.448579,22.472982,24.398084,24.600361,0.000000,22.682185,...,25.958704,26.090212,21.455205,21.455205,21.617216,21.127536,23.654836,23.804002,23.233710,21.899056
3,4,23.713457,23.813666,24.166443,20.893985,22.181098,24.020469,25.145448,18.943296,22.573155,...,24.963834,25.337808,20.705399,20.705399,22.329614,21.043123,24.358131,22.386838,23.220743,21.906675
4,5,25.264800,23.386666,24.230389,21.813568,22.054120,23.340187,24.924073,0.000000,22.399993,...,25.473542,25.146042,20.900653,20.900653,22.324050,22.894755,23.623533,23.617716,22.745162,21.815660
5,6,26.821283,22.989624,23.474214,24.385137,23.105428,24.185660,24.319454,22.542342,22.342819,...,25.217289,25.290942,21.389713,21.389713,22.255240,23.567411,24.270671,24.905056,22.776408,21.384028

In [81]:
dfb

,Unnamed: 0,AT1G04530.1_T36_1,AT1G08680.5_S196_1,AT1G08820.5_S130_2,AT1G10940.1_S357_1,AT1G11310.3_S503_1,AT1G11480.2_S343_1,AT1G12830.1_S46_1,AT1G13020.1_S436_1,AT1G13980.2_S961_1,...,AT5G54900.1_S332_1,AT5G56030.1_S288_1,AT5G56340.1_S150_2,AT5G56340.1_S151_2,AT5G56980.1_S120_1,AT5G57870.1_S487_1,AT5G58140.4_S30_1,AT5G64740.1_S136_1,AT5G67200.1_S371_1,ATCG00490.1_S208_1
0,1,23.900808,23.732321,24.414704,19.667867,23.496779,0.000000,24.247228,0.0000,0.000000,...,24.538282,25.215578,22.749671,22.749671,22.317813,22.221094,23.328987,0.000000,22.456702,21.768906
1,2,23.431350,23.855008,25.163000,20.497885,22.290092,22.562588,24.741413,0.0000,22.811523,...,26.359885,25.038670,21.441298,21.441298,21.962910,21.529119,23.492772,24.183640,23.315611,21.983355
2,3,23.818869,23.556743,24.302878,0.000000,22.526879,23.753607,24.887545,0.0000,22.444078,...,25.118189,24.861742,21.340937,21.340937,21.769380,20.849891,24.229602,23.956335,22.969231,21.334060
3,4,24.663614,23.268615,23.373746,20.229398,22.481854,22.999328,24.962125,0.0000,23.251262,...,24.360833,25.234163,22.078396,22.078396,21.959567,21.186336,24.292432,24.957961,23.130700,21.535055
4,5,25.841892,23.292207,25.212879,19.657019,22.256406,0.000000,24.968570,0.0000,23.171963,...,24.814502,25.077969,21.903039,21.903039,22.478499,22.932595,0.000000,24.583701,22.898822,21.910215
5,6,26.660822,23.187627,24.206135,22.220108,22.586482,23.277052,23.869263,20.9558,22.948816,...,24.518964,25.766842,21.794307,21.794307,22.605260,23.065986,24.661972,25.067775,22.797397,21.320761

In [82]:
df = dfa.copy()

In [83]:
df1 = df.append(dfb, ignore_index = True)

C:\Users\Fin Amin\AppData\Local\Temp\ipykernel_5004\700533074.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1 = df.append(dfb, ignore_index = True)

In [84]:
df2 = df1.append(dfc, ignore_index = True)

C:\Users\Fin Amin\AppData\Local\Temp\ipykernel_5004\1075720041.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df1.append(dfc, ignore_index = True)

In [85]:
df3 = df2.append(dfd, ignore_index = True)

C:\Users\Fin Amin\AppData\Local\Temp\ipykernel_5004\1689302182.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df3 = df2.append(dfd, ignore_index = True)

In [86]:
df3 = df3.drop("Unnamed: 0", axis = 1)

In [87]:
df3.replace(0, np.NaN, inplace = True)

In [88]:
std = df3.stack().std(skipna = True)
std

1.3355451957558528

In [89]:
mean = df3.stack().mean(skipna = True)
mean

23.183590945520706

In [90]:
mean_df = df3 - mean

In [91]:
std_df = mean_df.div(std)

In [92]:
maxx = max(std_df.max(axis = 1, skipna = True))

In [93]:
minn = min(std_df.min(axis = 1, skipna = True))

In [94]:
diff = maxx - minn
diff

8.121267677400851

In [95]:
min_df = std_df - minn
# min_df

In [96]:
min_max_df = min_df.div(diff)
# min_max_df

In [97]:
min_max_df.replace(np.NaN, -1, inplace = True)
# min_max_df

In [98]:
min_max_df.shape

(24, 245)

In [99]:
min_max_df.dtypes

AT1G04530.1_T36_1     float64
AT1G08680.5_S196_1    float64
AT1G08820.5_S130_2    float64
AT1G10940.1_S357_1    float64
AT1G11310.3_S503_1    float64
                       ...
AT5G57870.1_S487_1    float64
AT5G58140.4_S30_1     float64
AT5G64740.1_S136_1    float64
AT5G67200.1_S371_1    float64
ATCG00490.1_S208_1    float64
Length: 245, dtype: object

In [100]:
min_max_df = min_max_df.astype(np.float32)

In [106]:
df_repa = min_max_df[0:6].to_numpy()
df_repb = min_max_df[6:12].to_numpy()
df_repc = min_max_df[12:18].to_numpy()
df_repd = min_max_df[18:24].to_numpy()

In [110]:
np.save("Col0-tot3_Tot3_rep_A_Normalized.npy", df_repa)
np.save("Col0-tot3_Tot3_rep_B_Normalized.npy", df_repb)
np.save("Col0-tot3_Tot3_rep_C_Normalized.npy", df_repc)
np.save("Col0-tot3_Tot3_rep_D_Normalized.npy", df_repd)